{% block stylesheets %}
    <link href="{{ asset('css/dodajUcznia.css') }}" rel="stylesheet" />
{% endblock %}


<div>
<form action={{ path('dodajUcznia') }} method="post">
    <input type="hidden" name="id" value={{ id }} />
<label>Imię</label>
    <input type="text" name="imie" /><br/>
    <label>Nazwisko</label>
    <input type="text" name="nazwisko"/><br/>
    <label>Data urodzenia</label> <br/>
    <input type="date" name="data_urodzenia"/><br/>
    <label>Miasto</label>
    <input type="text" name="miasto"/><br/>
    <label>Telefon</label>

    <input type="text" name="telefon"/><br/>
    <label>Email</label>
    <input type="text" name="email"/><br/>
    <label>Login</label>


    <input type="text" name="login"/><br/>
    <label>Hasło</label>

    <input type="password" name="haslo"/><br/>
    <label>Potwierdź hasło</label>
    <input type="password" name="potwierdzHaslo"/><br/>

    {{ komunikat }}
<br/>
    <button type="submit">Dodaj Ucznia</button >
</form>
</div>
<br/>
<form action={{ path('profilAdmina') }} method="post">
    <input type="hidden" name="id" value={{ id }} />

    <button class="powrotButton" type="submit">Powrót</button >
</form>
