{% block stylesheets %}
    <link href="{{ asset('css/usunPost.css') }}" rel="stylesheet" />
{% endblock %}

<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> </title>
</head>



{% block body %}









    <table border="1" cellpadding="10" cellpadding="0">



        <tr>
           <td>ID</td> <td>Data</td> <td> Post </td>  <td> Autor </td>
        </tr>


        {% for p in posty %}
            <tr>

                <td> {{ p.id }}</td><td>{{ p.data }}</td> <td> {{ p.post }}</td>

                <td>
                    {% for u in uczniowie %}
                        {% if u.id == p.id_ucznia %}
                            {{ u.login }}
                        {% endif %}
                    {% endfor %}
                </td>

            </tr>
        {% endfor %}


    </table>

    {#'id' => $id,#}
    {#'posty' => $posty,#}
    {#'tematy' => $tematy#}
    {#'uczniowie' => $uczniowie#}





    <form  action={{path('usunPost')  }} method="post">
        <label>Usuń Post<br/></label><br/>
        <input type="hidden" name="id" value={{ id }}>
        <input type="hidden" name="id_tematu" value={{ id_tematu }}>
        <input type="text" name="idDoUsuniecia"> ID posta<br/>
        <button type="submit">Usuń</button >
    </form>





    <form class="powrotButton" action={{path('zarzadzajForum')  }} method="post">
        <input type="hidden" name="id" value={{ id }}>
        <button type="submit">Powrót</button >
    </form>





{% endblock %}


