{% block stylesheets %}
    <link href="{{ asset('css/usunNauczyciela.css') }}" rel="stylesheet" />
{% endblock %}
<div class="w3-bar" >

    <div class = "inner">
        Wprowadź id ucznia do usunięcia
        <form  action={{path('usunNauczyciela')  }} method="post">
            <input type="hidden" name="id" value={{ id }} />
            <input type="text" name="idDoUsuniecia" />
            <button type="submit">Usuń</button >


        </form>


    </div>

    <div class = "inner">
        Szukaj po nazwisku:

        <form action={{ path('usunNauczyciela') }} method="post">
            <input type="hidden" name="id" value={{ id }} />
            <input type="text" name="filtrNazwisko" />
            <button type="submit">Szukaj</button >
        </form>

    </div>

    <div class = "inner">



        <form action={{ path('usunNauczyciela') }} method="post">
            <input type="hidden" name="id" value={{ id }} />
            <input type="hidden" name="wyczyscFiltr" value = "1" /><br/>
            <button type="submit">Wyczyść wyszukiwanie</button >
        </form>


    </div>

</div>


































<table border="1" cellpadding="10" cellpadding="0" >


    <td> ID </td> <td> Nazwisko </td><td> Imię </td>

    {% for nauczyciel in nauczyciele %}

        <tr>
            <td> {{ nauczyciel.id }} </td> <td> {{ nauczyciel.nazwisko }} </td><td> {{ nauczyciel.imie }}</td>

        </tr>
    {% endfor %}
</table>
{{ komunikat }}<br/>

<br/>
<form class="powrotButton" action={{ path('profilAdmina') }} method="post">
    <input type="hidden" name="id" value={{ id }} />

    <button type="submit">Powrót</button >
</form>